
html, body {
	padding: 0px;
	margin: 0px;
  overflow: hidden;
  * {
    box-sizing: border-box;
  }
}

html {
  background: #333;

  // only here for production
  background: #de9458;
}


button {
  width: 33%; 
  background: white;
  border: none;
  padding: 10px;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

.pumpkin {
  background: rgb(255, 115, 0);
}

.icecream {
  background: rgb(14, 153, 199);
}

.spooky {
  background: rgb(95, 95, 196);
}

.maccas {
  background: red;
}

hr {
  border: 0px;
  height: 1px;
  background: white;
  //transform: rotate(-10deg) skew(-3deg, 0);   
  max-width: 40px;
  width: 100%;
  margin: 50px auto;
}

// Type //
span {
  &.bar {
    display: block;
    width: 100%;
  }
}

.fp-controlArrow {
  &.fp-prev {
    border-width: 28.5px 34px 28.5px 0!important;
  }
  &.fp-next {
    border-width: 28.5px 0 28.5px 34px!important;
  }
  transform: scale(0.5)!important;

  text-shadow: -2px 1px 2px rgba(0, 0, 0, 0.11);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  background-color: rgba(255,255,255,1);
  color: transparent;
} 

h1 {
  &.hero {





    div {
      display: inline-flex;
    }
    font-size: 11vw;
    padding: 0px 20px;
    color: rgba(242, 239, 232, 1);
    font-family: 'Montserrat', san-serif;
    font-weight: 900;
    font-style: italic;
    margin-left: -100px;
    margin-right: -100px;
    letter-spacing: -0.02em;
    //background: rgba(56, 13, 13, 0.8);
    //line-height: 50%;
    transform: rotate(-10deg) skew(-3deg, 0);   
    margin-top: 0px;
    span {
      text-shadow: -2px 1px 2px rgba(0, 0, 0, 0.11);
      -webkit-background-clip: text;
      -moz-background-clip: text;
      background-clip: text;
      background-color: rgba(255,255,255,1);
      color: transparent;
      padding: 11px;
    }
    
    .animated {
      &.fadeOutUp {
        span {
          //text-shadow: -2px 1px 2px rgba(0, 0, 0, 0.11);
          //transform: translateX(0vw);
        }
      }

      &.fadeInDown {
        //animation: text-shadow 1s ease-in-out forwards;
      }

      span {
        //text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
        //animation: text-shadow 1s ease-in-out forwards;
        //transform: translateX(0.2vw);


      }
      
      &:nth-child(1) {
        span {
          animation-delay: 2.1s;
        }
          
      }
      &:nth-child(2) {
        span {
          animation-delay: 2.3s;
        }
      }
    
    }
    
  }
}

h2 {
  &.subhead {
    
      font-family: 'Montserrat', san-serif;
      font-weight: 600;
      font-style: italic;
      color: #f2efe8;
      text-transform: uppercase;
      margin-top: -9.5%;
    
  
      span {
        
        transform: translateX(1vw);
        transform: rotate(-10deg) skew(-3deg, 0);    
        
        padding: 0px;
        display: inline-block;
        margin: 0px;
        font-size: 2.5vw;
        vertical-align: super;
      }
    
  }
}

h2 {
  font-family: 'Montserrat', san-serif;

  &.subhero {
    font-weight: 600;
    font-style: italic;
    //position: absolute;
    bottom: 20%;
    width: 100%;


    transform: translateX(1vw);
    transform: rotate(-10deg) skew(-3deg, 0);

    margin-top: -9%;
    margin-bottom: 60px;
    &.cta {
      transform: none;
      font-style: normal;
      margin: 0px;
      position: absolute;
    } 
  }
  span {
    display: inline-block;
    margin: 0px 6px;
    font-size: 48px;
    vertical-align: super;
  }
    a {
      transform: none;
      color: #f2efe8;
      background: transparent;
      outline: 0px solid #f2efe8;
      text-decoration: none;
      padding: 10px 0px;
      display: inline-block;
      white-space: nowrap;
      width: 0px;
      overflow: hidden;
      text-align: center;
      //margin-bottom: -150%;
    }
}

.expandIn {
  a {
    animation: expandIn 0.5s ease-in-out forwards;
    animation-delay: 600ms;
  }
}

.expandOut {
  a {
    animation: expandOut 0.5s ease-in-out forwards;
    animation-delay: 0ms;
  }
}

.work {
  //position: relative;

  .fp-slidesContainer {
    //animation-delay: 600ms;
  }

  .slide {
    opacity: 0;
    &.active {
      opacity: 1;
    };

    .workContainer {
      max-height: 700px;
      max-width: 920px;
      width: 80%;
      margin: 0 auto;
      position: relative;
      height: 90%;
      padding: 10px;

      .workDesktop {
        background: rgba(0, 0, 0, 0.3);
        width: 100%;
        //border: 1px solid red;
        height: 80%;
        position: absolute;
        top: 0px;
        left: 0px;
        margin: 0px;
        bottom: 0px;
        right: 0px;
      }
      .workMobile {
        background: rgba(0, 0, 0, 0.3);
        width: 40%;
        //border: 1px solid red;
        height: 60%;
        position: absolute;
        //top: 0px;
        //left: 0px;
        margin: 0px;
        bottom: 0px;
        right: 20px;
      }
    }
  }
  .fp-tableCell {
    position: relative;
    .animated {
      //height: 100%;
    }
  }
  h2 {
    position: absolute;
    top: -60px;
    left: 10px;
    font-family: 'Montserrat', san-serif;
    font-weight: 900;
    font-style: italic;
    color: #f2efe8;
    text-transform: uppercase;
    font-size: 43px;

    span {
      
    transform: translateX(1vw);
    transform: rotate(-10deg) skew(-3deg, 0);    
      text-shadow: -2px 1px 3px rgba(0, 0, 0, 0.12);
      -webkit-background-clip: text;
      -moz-background-clip: text;
      background-clip: text;
      background-color: rgba(255,255,255,1);
      color: transparent;
      padding: 7px;
    }
  }
  height: 100%;
}

.page {
  
 
  margin: 0 auto;
  &:nth-child(1) {
    &.move-enter {



      .absolute-center {
        opacity: 0;
        z-index: 1;
        transform: translateX(-50%) translateY(-1000%);  
    
      }
    
      &.move-enter-active {
        .absolute-center {
    
          opacity: 1;
          transform: translateX(-50%) translateY(-50%);
      
          transition: all 1000ms ease-in-out;
      
        }
      }
    }

    .move-exit {

      .absolute-center {
    
        opacity: 1;
        z-index: 1;
        transform: translateX(-50%) translateY(-50%);
    
      }
    
      &.move-exit-active {
    
        .absolute-center {
    
          opacity: 0;
          transform: translateX(-50%) translateY(-1000%);
      
          transition: all 400ms ease-in-out;
        }
      }
    }

  }
}

.page {
  &:nth-child(2) {
    &.move-enter {



      .absolute-center {
        opacity: 0;
        z-index: 1;
        transform: translateX(-50%) translateY(1000%);  
    
      }
    
      &.move-enter-active {
        .absolute-center {
    
          opacity: 1;
          transform: translateX(-50%) translateY(-50%);
      
          transition: all 1000ms ease-in-out;
      
        }
      }
    }

    .move-exit {

      .absolute-center {
    
        opacity: 1;
        z-index: 1;
        transform: translateX(-50%) translateY(-50%);
    
      }
    
      &.move-exit-active {
    
        .absolute-center {
    
          opacity: 0;
          transform: translateX(-50%) translateY(1000%);
      
          transition: all 400ms ease-in-out;
        }
      }
    }
  }
}  

.slides {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.slide {
  text-align: center;
}

.fp-slidesContainer {
  //width: 100%!important;
}


.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  max-width: 800px;
  width: 90%;
}

.home {
  text-align: center;
  color: white;
}

.about {
  text-align: center;
  color: white;

  h3 {
    margin: 0;
    font-family: 'Montserrat', san-serif;
    font-weight: 100;
  }

  .heroContainer {
    position: relative;
    max-height: 800px;
    height: 100%;
  }

  p {
    max-width: 700px;
    width: 90%;
    margin: 0 auto;
  }

  .logo-container {
    max-width: 700px;
    width: 90%;
    margin: 50px auto;
    .col-50 {
      width: 50%;
      float: left;
    }
    ul {
      margin: 20px;
      padding: 0;
      li {
        list-style: none;
        margin: 0;
        padding: 0;
        display: inline-block;
        text-align: center;
        padding: 10px;
      }
    }
    img {
      width: 50px;
      height: auto; 
      vertical-align: middle;
      &.NBN {
        width: 80px;
      }
      &.Telstra {
        width: 40px;
      }
      &.ADF {
        width: 60px;
      }

      &.HTML {
        width: 45px;
      }
      &.Vue {
        width: 54px;
        margin: 1px;
      }
    }
  }
}

ul.nav {
  margin: 0px;
  padding: 10px;
  width: 100%;
  text-align: right;
  background: rgba(255,255,255,0.8);
  li {
    display: inline;
    a {
      color: black;
      padding: 10px;
      text-decoration: none;
      text-transform: uppercase;
      &:hover {
        background: black;
        color: white;
      }
    }
  }
}

canvas {
	width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  opacity: 0.8;
  z-index: -1;
  animation: fade-in-80 2s ease-in;

  // only enabled now for production reasons
  display: none;
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 20vmin;
  cursor: pointer;
}
/* new class here */
.App-logo-paused {
  animation-play-state: paused;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@keyframes fade-in-80 {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.8;
  }
}

@keyframes text-shadow {
  from {
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
    transform: translateX(0.2vw);
  }
  to {
    text-shadow: -2px 1px 2px rgba(0, 0, 0, 0.11);
    transform: translateX(0vw);
  }
}

@keyframes expandIn {
  from {
    outline: 0px solid #f2efe8;
    width: 0px;
  }
  to {
    outline: 1px solid #f2efe8;
    width: 200px;
  }
}

@keyframes expandOut {
  from {
    outline: 1px solid #f2efe8;
    width: 200px;
  }
  to {
    outline: 0px solid #f2efe8;
    width: 0px;
  }
}