
html, body {
	padding: 0px;
	margin: 0px;
  overflow: hidden;
  * {
    box-sizing: border-box;
  }
}

html {
  background: #333;
}


button {
  width: 33%;
  background: white;
  border: none;
  padding: 10px;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

.pumpkin {
  background: rgb(255, 115, 0);
}

.icecream {
  background: rgb(14, 153, 199);
}

.spooky {
  background: rgb(95, 95, 196);
}

.maccas {
  background: red;
}


// Type //
span {
  &.bar {
    display: block;
    width: 100%;
  }
}

h1 {
  &.hero {
    div {
      display: inline-flex;
    }
    font-size: 16vw;
    color: rgba(242, 239, 232, 1);
    font-family: 'Barlow Condensed', san-serif;
    font-weight: 800;
    font-style: italic;
    margin-left: -100px;
    margin-right: -100px;
    //background: rgba(56, 13, 13, 0.8);
    //line-height: 50%;
    
    transform: rotate(-10deg) skew(-3deg, 0);    
    .animated {
      &.fadeOutUp {
        span {
          text-shadow: 0.5vw 0.5vw rgba(56, 13, 13, 0.6);
          transform: translateX(0vw);
        }
      }

      &.fadeInDown {
        //animation: text-shadow 1s ease-in-out forwards;
      }

      span {
        text-shadow: 11px 8px rgba(56, 13, 13, 0);
        animation: text-shadow 1s ease-in-out forwards;
        transform: translateX(1vw);
      }
      
      &:nth-child(1) {
        span {
          animation-delay: 3.1s;
        }
          
      }
      &:nth-child(2) {
        span {
          animation-delay: 3.3s;
        }
      }
    
    }
    
  }
}

h2 {
  span {
    display: inline-block;
    margin: 0px -15px;
    font-size: 48px;
    vertical-align: super;
  }
    a {
      color: #f2efe8;
      background: transparent;
      outline: 0px solid #f2efe8;
      text-decoration: none;
      padding: 10px 0px;
      display: inline-block;
      white-space: nowrap;
      width: 0px;
      overflow: hidden;
      text-align: center;

      animation: expand 0.5s ease-in-out forwards;
      animation-delay: 6s;
    }
}


.page {
  
 
  margin: 0 auto;
  &:nth-child(1) {
    &.move-enter {



      .absolute-center {
        opacity: 0;
        z-index: 1;
        transform: translateX(-50%) translateY(-1000%);  
    
      }
    
      &.move-enter-active {
        .absolute-center {
    
          opacity: 1;
          transform: translateX(-50%) translateY(-50%);
      
          transition: all 1000ms ease-in-out;
      
        }
      }
    }

    .move-exit {

      .absolute-center {
    
        opacity: 1;
        z-index: 1;
        transform: translateX(-50%) translateY(-50%);
    
      }
    
      &.move-exit-active {
    
        .absolute-center {
    
          opacity: 0;
          transform: translateX(-50%) translateY(-1000%);
      
          transition: all 400ms ease-in-out;
        }
      }
    }

  }
}

.page {
  &:nth-child(2) {
    &.move-enter {



      .absolute-center {
        opacity: 0;
        z-index: 1;
        transform: translateX(-50%) translateY(1000%);  
    
      }
    
      &.move-enter-active {
        .absolute-center {
    
          opacity: 1;
          transform: translateX(-50%) translateY(-50%);
      
          transition: all 1000ms ease-in-out;
      
        }
      }
    }

    .move-exit {

      .absolute-center {
    
        opacity: 1;
        z-index: 1;
        transform: translateX(-50%) translateY(-50%);
    
      }
    
      &.move-exit-active {
    
        .absolute-center {
    
          opacity: 0;
          transform: translateX(-50%) translateY(1000%);
      
          transition: all 400ms ease-in-out;
        }
      }
    }
  }
}  



.slide {
  text-align: center;
}

.fp-slidesContainer {
  //width: 100%!important;
}


.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  max-width: 800px;
  width: 90%;
}

.home {
  text-align: center;
  color: white;
}

.about {
  text-align: center;
  color: white;
}

ul.nav {
  margin: 0px;
  padding: 10px;
  width: 100%;
  text-align: right;
  background: rgba(255,255,255,0.8);
  li {
    display: inline;
    a {
      color: black;
      padding: 10px;
      text-decoration: none;
      text-transform: uppercase;
      &:hover {
        background: black;
        color: white;
      }
    }
  }
}

canvas {
	width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  opacity: 0.8;
  z-index: -1;
  animation: fade-in-80 2s ease-in;
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 20vmin;
  cursor: pointer;
}
/* new class here */
.App-logo-paused {
  animation-play-state: paused;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@keyframes fade-in-80 {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.8;
  }
}

@keyframes text-shadow {
  from {
    text-shadow: 0vw 0vw rgba(56, 13, 13, 0);
    transform: translateX(1vw);
  }
  to {
    text-shadow: 0.5vw 0.5vw rgba(56, 13, 13, 0.6);
    transform: translateX(0vw);
  }
}

@keyframes expand {
  from {
    outline: 0px solid #f2efe8;
    width: 0px;
  }
  to {
    outline: 1px solid #f2efe8;
    width: 200px;
  }
}