// media queries
@mixin for-extra-extra-small-phone-only {
  @media (max-width: 325px) { @content; }
}

@mixin for-extra-small-phone-only {
  @media (max-width: 375px) { @content; }
}
@mixin for-small-phone-only {
  @media (max-width: 400px) { @content; }
}
@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}

html, body {
	padding: 0px;
	margin: 0px;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Sans-serif;
  
  * {
    box-sizing: border-box;
  }
}

.animated {
}

html {
  background: #333;
  // only here for production
  //background: #de9458;
}


button {
  width: 33%; 
  background: white;
  border: none;
  padding: 10px;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

.pumpkin {
  background: rgb(255, 115, 0);
}

.icecream {
  background: rgb(14, 153, 199);
}

.spooky {
  background: rgb(95, 95, 196);
}

.maccas {
  background: red;
}

hr {
  border: 0px;
  height: 1px;
  background: white;
  //transform: rotate(-10deg) skew(-3deg, 0);   
  max-width: 40px;
  width: 100%;
  margin: 50px auto;
  @include for-phone-only {
    margin: 30px auto;
  }
}

// Navigation

#sidebar {
  .sidebar {
    width: 100%;
    pointer-events: none;
    z-index: 3!important;
    transform: translateX(0%)!important;
  }
  .sidebar-overlay {
    z-index: 2!important;
    background-color: rgba(0,0,0,.7)!important;
  }
  ul {
    padding: 0;
    position: relative;
    top: 50%;
    margin-top: -25%;
    @include for-phone-only {
      margin-top: -40%;
    }
    @include for-big-desktop-up {
      margin-top: -21%;
      li {
        a {
          padding: 10px!important;
        }
      }
    }
    li {
      list-style: none;
      a {
        &:hover {
          color:rgba(255,255,255,1);
          letter-spacing: 0.6vw;
        }
        transition: all 300ms ease-in-out;
        pointer-events: all;
        padding: 10px 20px 10px 20px;
        display: block;
        text-align: center;
        text-decoration: none;
        font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Sans-serif;
        font-weight: 900;
        color:rgba(255,255,255,0.8);
        font-size: 8vw;

        @include for-phone-only {
          font-size: 9vw;
        }



/*
      text-shadow: -2px 1px 2px rgba(0, 0, 0, 0.11);
      -webkit-background-clip: text;
      -moz-background-clip: text;
      background-clip: text;
      background-color: rgba(255,255,255,1);
      color: transparent;
*/
        sup {
          vertical-align: text-top;
          font-weight: 300;
          display: none;
          font-size: 2vw;

        }
      }
    }
  }
  button {
    width: auto;
    position: fixed;
    right: 0px;
    background: none;
    font-size: 30px;
    text-align: right;
    vertical-align: top;
    padding: 5px 10px;
    z-index: 1;
    color: white;
    span {
      color: white;
    }
  }
}

// Type //
span {
  &.bar {
    display: block;
    width: 100%;
  }
}

.scroll-up, .scroll-down {
  color: white;
  text-align: center;
  width: 100%;
  position: fixed;
  z-index: 1;
  cursor: pointer;
}

.scroll-up {
  top: 10px;
}

.scroll-down {
  bottom: 10px;
}

.fp-controlArrow {

  &.fp-prev {
    border: none;
    &:before {
      content: "\f053";
      position: absolute;
      width: 40px;
      height: 40px;
      text-indent: -9999px;
    }
    //border-width: 28.5px 34px 28.5px 0!important;
  }
  &.fp-next {
    border: none;
    right: 50px!important;
    &:before {
      content: "\f054";
      position: absolute;
      width: 40px;
      height: 40px;
      text-indent: -9999px;
    }
    //border-width: 28.5px 0 28.5px 34px!important;
  }
  
  /*
  transform: scale(0.5)!important;

  text-shadow: -2px 1px 2px rgba(0, 0, 0, 0.11);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  background-color: rgba(255,255,255,1);
  color: transparent;
  */
} 


h1 {
  &.hero {


    .animated {
    }


    div {
      display: inline-flex;
    }
    font-size: 11vw;
    padding: 0px 20px;
    color: rgba(242, 239, 232, 1);
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Sans-serif;
    font-weight: bold;
    font-weight: 900;
    font-style: italic;
    margin-left: -100px;
    margin-right: -100px;
    letter-spacing: -0.02em;
    //background: rgba(56, 13, 13, 0.8);
    //line-height: 50%;
    transform: rotate(-10deg) skew(-3deg, 0);   
    margin-top: 0px;
    span {
      text-shadow: -2px 1px 2px rgba(0, 0, 0, 0.11);
      -webkit-background-clip: text;
      -moz-background-clip: text;
      background-clip: text;
      background-color: rgba(255,255,255,1);
      color: transparent;
      padding: 11px;

      //color: white;
      //background: transparent;
      //-webkit-background-clip: initial;

      @include for-phone-only {
        padding: 3px;
      }
    }
    
    .animated {
      &.fadeOutUp {
        span {
          //text-shadow: -2px 1px 2px rgba(0, 0, 0, 0.11);
          //transform: translateX(0vw);
        }
      }

      &.fadeInDown {
        //animation: text-shadow 1s ease-in-out forwards;
      }

      span {
        //text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
        //animation: text-shadow 1s ease-in-out forwards;
        //transform: translateX(0.2vw);


      }
      
      &:nth-child(1) {
        span {
          animation-delay: 2.1s;
        }
          
      }
      &:nth-child(2) {
        span {
          animation-delay: 2.3s;
        }
      }
    
    }
    
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
  /* IE10+ specific styles go here */  
  h1.hero span {
        background-color: transparent;
        color: white;
  }
}


h2 {
  &.subhead {
    
      font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", sans-serif;
      font-weight: 600;
      font-style: italic;
      color: #f2efe8;
      text-transform: uppercase;
      margin-top: -9.5%;
    
  
      span {
        
        transform: translateX(1vw);
        transform: rotate(-10deg) skew(-3deg, 0) translate3d(0px,0px,1px);    
        
        padding: 0px;
        display: inline-block;
        margin: 0px;
        font-size: 2.5vw;
        vertical-align: super;
        @include for-phone-only {
          font-size: 4.5vw;
        }
      }
    
  }
}

h2 {
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Sans-serif;

  &.subhero {
    font-weight: 600;
    font-style: italic;
    //position: absolute;
    bottom: 20%;
    width: 100%;


    transform: translateX(1vw);
    transform: rotate(-10deg) skew(-3deg, 0) translate3d(0px,0px,1px);
    
    margin-top: -9%;
    margin-bottom: 60px;
    &.cta {
      transform: none;
      font-style: normal;
      margin: 0px;
      position: absolute;
    } 
  }
  span {
    display: inline-block;
    margin: 0px 6px;
    font-size: 48px;
    vertical-align: super;
  }
    a {
      transform: none;
      color: #f2efe8;
      background: transparent;
      outline: 0px solid #f2efe8;
      text-decoration: none;
      padding: 10px 0px;
      display: inline-block;
      white-space: nowrap;
      width: 0px;
      overflow: hidden;
      text-align: center;
      font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Sans-serif;
      font-weight: 300;
      //margin-bottom: -150%;
    }
}

.expandIn {
  a {
    animation: expandIn 0.5s ease-in-out forwards;
    animation-delay: 600ms;
  }
}

.expandOut {
  a {
    animation: expandOut 0.5s ease-in-out forwards;
    animation-delay: 0ms;
  }
}

.work {
  //position: relative;
  .workDesktop, .workMobile {
    
    img {
      box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
      width: 100%;
      height: auto;
    }

  }

  img {
    &.logo {
      width: 50px;
      position: absolute;
      top: -60px;
      right: 2px;
      @include for-phone-only {
        display: none;
      }
    }
  }

  .fp-slidesContainer {
    //animation-delay: 600ms;
  }

  .slide {
    opacity: 0;
    &.active {
      opacity: 1;
    };

    .workContainer {
      max-height: 700px;
      max-width: 920px;
      width: 80%;
      margin: 0 auto;
      position: relative;
      height: 90%;
      padding: 10px;

      .workDesktop {
        //background: rgba(0, 0, 0, 0.3);
        width: 100%;
        //border: 1px solid red;
        height: 80%;
        position: absolute;
        top: 0px;
        left: 0px;
        margin: 0px;
        bottom: 0px;
        right: 0px;
        @include for-phone-only {
          display: none;
        }
      }
      .workMobile {
        //background: rgba(0, 0, 0, 0.3);
        width: 200px;
        //width: 100%;
        //border: 1px solid red;
        height: 60%;
        position: absolute;
        //top: 0px;
        //left: 0px;
        margin: 0px;
        bottom: 0px;
        right: 20px;
        @include for-phone-only {
          overflow: hidden;
          position: absolute;
          max-width: 250px;
          width: 90%;
          height: 500px;
          margin: 60px auto auto auto;
          top: 0px;
          right: 0px;
          bottom: 0px;
          left: 0px;
        }
        @include for-small-phone-only {
          height: 420px;
          margin: auto;
        }
        @include for-extra-extra-small-phone-only {
          height: 377px;
          margin: 60px auto auto auto;
        }
      }
    }
  }
  .fp-tableCell {
    position: relative;
    .animated {
      //height: 100%;
    }
  }
  h2 {
    position: absolute;
    top: -110px;
    left: -10px;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Sans-serif;
    font-weight: 900;
    font-style: italic;
    color: #f2efe8;
    text-transform: uppercase;
    font-size: 43px;

    span {
    //transform: translateX(1vw);
    //transform: rotate(-10deg) skew(-3deg, 0);    
      text-shadow: -2px 1px 3px rgba(0, 0, 0, 0.12);
      -webkit-background-clip: text;
      -moz-background-clip: text;
      background-clip: text;
      background-color: rgba(255,255,255,1);
      color: transparent;
      padding: 7px;
    }
  }

  h3 {    
    position: absolute;
    text-transform: uppercase;
    top: -67px;
    left: -2px;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Sans-serif;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Sans-serif;
    font-weight: 300;
    color: white;
    @include for-phone-only {
      top: inherit;
      left: 0px;
      width: 100%;
      bottom: 20px;
      text-align: center;
    }
  }
  .macbank {
    p {
      bottom: 130px;
    }
    @include for-phone-only {
      bottom: 0px!important;
    }
  }
  .mcd {
    p {
      bottom: 90px;
    }
    @include for-phone-only {
      bottom: 0px!important;
    }
  }
  .nbn {
    img {
      &.logo {
        width: 80px;
        top: -50px;
      }
    }
  }
  p {
    color: white;
    position: absolute;
    bottom: 10px;
    left: -2px;
    @include for-phone-only {
      width: 100%;
      bottom: 0px!important;
      left: 0px;
      top: inherit;
    }
  }
  height: 100%;
}

.page {
  
 
  margin: 0 auto;
  &:nth-child(1) {
    &.move-enter {



      .absolute-center {
        opacity: 0;
        z-index: 1;
        transform: translateX(-50%) translateY(-1000%);  
    
      }
    
      &.move-enter-active {
        .absolute-center {
    
          opacity: 1;
          transform: translateX(-50%) translateY(-50%);
      
          transition: all 1000ms ease-in-out;
      
        }
      }
    }

    .move-exit {

      .absolute-center {
    
        opacity: 1;
        z-index: 1;
        transform: translateX(-50%) translateY(-50%);
    
      }
    
      &.move-exit-active {
    
        .absolute-center {
    
          opacity: 0;
          transform: translateX(-50%) translateY(-1000%);
      
          transition: all 400ms ease-in-out;
        }
      }
    }

  }
}

.page {
  &:nth-child(2) {
    &.move-enter {



      .absolute-center {
        opacity: 0;
        z-index: 1;
        transform: translateX(-50%) translateY(1000%);  
    
      }
    
      &.move-enter-active {
        .absolute-center {
    
          opacity: 1;
          transform: translateX(-50%) translateY(-50%);
      
          transition: all 1000ms ease-in-out;
      
        }
      }
    }

    .move-exit {

      .absolute-center {
    
        opacity: 1;
        z-index: 1;
        transform: translateX(-50%) translateY(-50%);
    
      }
    
      &.move-exit-active {
    
        .absolute-center {
    
          opacity: 0;
          transform: translateX(-50%) translateY(1000%);
      
          transition: all 400ms ease-in-out;
        }
      }
    }
  }
}  

.slides {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.slide {
  text-align: center;
}

.fp-slidesContainer {
  //width: 100%!important;
}


.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  max-width: 800px;
  width: 90%;
}

.home {
  text-align: center;
  color: white;
}

.about {
  p {
    @include for-extra-small-phone-only {
      display: block;
    }
    @include for-small-phone-only {
      display: none;
    }
  }
  .subhero {
    @include for-small-phone-only {
      margin-bottom: 15px;
    }
  }
}

.about, .contact {
  text-align: center;
  color: white;

  h3 {
    margin: 0;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Sans-serif;
    font-weight: 300;
  }

  .heroContainer {
    position: relative;
    max-height: 800px;
    height: 100%;
  }

  p {
    max-width: 700px;
    width: 90%;
    margin: 0 auto;
    @include for-phone-only {
      font-size: 14px;
    }
  }

  .logo-container {
    max-width: 700px;
    width: 90%;
    margin: 50px auto;
    @include for-phone-only {
      width: 95%;
      margin: 10px auto;
    }
    .col-50 {
      width: 50%;
      float: left;
      @include for-phone-only {
        width: 100%;
        float: none;
      }
    }
    ul {
      margin: 20px;
      padding: 0;
      @include for-phone-only {
        margin: 10px 0px;
      }
      li {
        list-style: none;
        margin: 0;
        padding: 0;
        display: inline-block;
        text-align: center;
        padding: 10px;
        @include for-phone-only {
          padding: 5px;
        }
        @include for-small-phone-only {
          padding: 2px;
        }
        @include for-extra-extra-small-phone-only {
          &:nth-last-child(1) {
            display: none;
          }
        }
      }
    }
    img {
      width: 50px;
      height: auto; 
      vertical-align: middle;
      @include for-phone-only {
        transform: scale(0.7);
      }
      @include for-small-phone-only {
        transform: scale(0.5);
      }
      &.NBN {
        width: 80px;
      }
      &.Telstra {
        width: 40px;
      }
      &.ADF {
        width: 60px;
      }

      &.HTML {
        width: 45px;
      }
      &.Vue {
        width: 54px;
        margin: 1px;
      }
    }
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
  /* IE10+ specific styles go here */ 
  .about .logo-container img {
    height: 100%;
  } 
}
ul.nav {
  margin: 0px;
  padding: 10px;
  width: 100%;
  text-align: right;
  background: rgba(255,255,255,0.8);
  li {
    display: inline;
    a {
      color: black;
      padding: 10px;
      text-decoration: none;
      text-transform: uppercase;
      &:hover {
        background: black;
        color: white;
      }
    }
  }
}

.contact {
  ul {
    margin: 40px auto;
    padding: 0;
    li {
      list-style: none;
      a {
        color: white;
        text-decoration: none;
        vertical-align: middle;
        padding: 5px 0px;
        display: block;
      }
    }
  }
}

canvas {
	width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  opacity: 0.8;
  z-index: -1;
  animation: fade-in-80 2s ease-in;

  // only enabled now for production reasons
  //display: none;
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 20vmin;
  cursor: pointer;
}
/* new class here */
.App-logo-paused {
  animation-play-state: paused;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@keyframes fade-in-80 {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.8;
  }
}

@keyframes text-shadow {
  from {
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
    transform: translateX(0.2vw);
  }
  to {
    text-shadow: -2px 1px 2px rgba(0, 0, 0, 0.11);
    transform: translateX(0vw);
  }
}

@keyframes expandIn {
  from {
    outline: 0px solid #f2efe8;
    width: 0px;
  }
  to {
    outline: 1px solid #f2efe8;
    width: 200px;
  }
}

@keyframes expandOut {
  from {
    outline: 1px solid #f2efe8;
    width: 200px;
  }
  to {
    outline: 0px solid #f2efe8;
    width: 0px;
  }
}